#==============================================================================
# Docker Docker to use: vastai/pytorch:2.4.1-cuda-12.1.1-py310
# These pacjages MUST NOT CHANGE
#==============================================================================

torch==2.4.1+cu121 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.19.1+cu121 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.4.1+cu121 --index-url https://download.pytorch.org/whl/cu121

#==============================================================================
# Remaining packages
#==============================================================================

accelerate>=0.26.0
addict
aiohttp
albumentations
boto3>=1.34.101
blind-watermark
blend_modes
bitsandbytes>=0.41.1
clip-interrogator==0.6.0
cmake
colour-science
diffusers
dill
einops>=0.7.0
fairscale>=0.4.4
fastapi
filelock
flash-attn
ftfy
fvcore
faster_whisper
git+https://github.com/openai/swarm.git
git+https://github.com/shadowcz007/SenseVoice-python.git
git+https://github.com/WASasquatch/cstr
git+https://github.com/WASasquatch/ffmpy.git
git+https://github.com/WASasquatch/img2texture.git
gitpython
google-generativeai
hydra-core>=1.3.2
huggingface_hub>=0.23.4
iopath
imageio
imageio-ffmpeg
importlib_metadata
joblib
json-repair
kornia>=0.7.1
lark
lark-parser
loguru
loralib>=0.1.2
matplotlib
mediapipe
mss
natsort>=8.4.0
numba
numpy<2.0
omegaconf>=2.3.0
onnxruntime
openai
opencv-contrib-python
opencv-python>=4.7.0.72
opencv-python-headless
opencv-python-headless[ffmpeg]
peft>=0.12.0
piexif
pilgram
pixeloe
protobuf
psd-tools
psutil
pyOpenSSL
pycocoevalcap
pydantic
pyyaml
python-dateutil
pytorch_lightning
qrcode
qrcode[pil]
rembg
rembg[gpu]
rich
safetensors>=0.4.2
scenedetect[opencv-headless]
scikit-image>=0.20.0
scikit-learn
scipy>=1.11.4
segment-anything
segment_anything
sentencepiece
simple-lama-inpainting
soundfile>=0.12.1
spandrel
svglib
timm>=0.4.12
tokenizers>=0.13.3
torchsde
transformers>=4.45.0
transparent-background
trimesh[easy]>=4.0.5
tqdm
typer_config
ultralytics>=8.2.0
watchdog
wget
xformers
yacs
yapf